.btn {
	background: var(--sky);
	border: none;
	outline: none;
	padding: 2rem 6rem;
	border-radius: 3.3rem;
	color: var(--text-grey);
	// font-weight: 50;
	font-size: 1.8rem;
	font-family: var(--Livvic);
	cursor: pointer;
}

h1 {
	font-family: var(--Lexend);
	font-size: 5rem;
}

h3 {
	font-size: 2.5rem;
}

h2 {
	font-family: var(--Lexend);
}
